@font-face {
  font-family: 'Proxima Nova';
  src: url('../Fonts/ProximaNova/ProximaNova-regular.eot');
  src: url('../Fonts/ProximaNova/ProximaNova-regular.ttf') format('truetype'),
  url('../Fonts/ProximaNova/ProximaNova-regular.eot') format('embedded-opentype'),
  url('../Fonts/ProximaNova/ProximaNova-regular.woff') format('woff'),
  url('../Fonts/ProximaNova/ProximaNova-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: FontAwesome;
  src: url(Assets/Fonts/fontawesome-webfont.ttf) format('ttf'),
  url(Assets/Fonts/fontawesome-webfont.svg) format('svg'),
  url(Assets/Fonts/fontawesome-webfont.eot) format('eot'),
  url(Assets/Fonts/fontawesome-webfont.woff) format('woff'),
  url(Assets/Fonts/fontawesome-webfont.woff2) format('woff2');

}

/*
 @font-face {
  font-family: Glyphicons;
  src: url(Assets/Fonts/glyphicons-halflings-regular.ttf) format('ttf'),
  url(Assets/Fonts/glyphicons-halflings-regular.eot) format('eot'),
  url(Assets/Fonts/glyphicons-halflings-regular.svg) format('svg'),
  url(Assets/Fonts/glyphicons-halflings-regular.woff) format('woff'),
  url(Assets/Fonts/glyphicons-halflings-regular.woff2) format('woff2');
  font-style: normal;
  font-weight: normal;
}
 */

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(https://fonts.gstatic.com/s/titilliumweb/v5/anMUvcNT0H1YN4FII8wpr9INifKjd1RJ3NxxEi9Cy2w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(https://fonts.gstatic.com/s/titilliumweb/v5/anMUvcNT0H1YN4FII8wpr4-67659ICLY8bMrYhtePPA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}