@media screen and (max-width: 767px){

    html,
    body{
        height: auto;
        background: #000000;
    }

    /* Top Navigation Two style css */
    .nav-section{
        position: absolute;
        padding: 10px 20px 10px;
        background: transparent;
        z-index: 999;
    }

    ul.userDropdown{
        top: 67px;
        right: 20px;
        left: 20px;
        width: auto;
        background: transparent;
    }

    .main-logo{
        width: 50px;
        overflow: hidden;
    }

    .logo-small{
        top: 20px;
        left: 20px;
    }

    nav{
        position: fixed;
        bottom: 0;
        left: 0px;
        background: #010b17;
        width: 100%;
        margin-left: 0px;
        z-index: 999;
    }
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        padding: 0 20px;
    }
    nav ul li {
        width: auto;
        min-height: 10px;
        border-bottom: 0px;
        margin: 0px;
        height: auto;
        padding: 0px;
    }

    nav ul li a{
        height: auto;
        width: auto;
        margin: 0;
        padding: 10px;
        text-align: center;
        display: block;
    }

    nav ul li a svg{
        margin: 0;
    }

    nav ul li a p{
        width: 100%;
        margin-top: 5px;
    }

    .user{
        margin-left: auto;
    }

    .user p{
        display: none;
    }
    
    .user img {
        margin: 0;
    }

    .downArrow {
        display: none;
    }
    /* styles start form here */
    .btn {
        font-size: 16px;
    }

    .col-2 {
        flex-basis: 100%;
    }

    .right-border {
        border-right: none;
    }
    .terms, .support {
        text-align: center;
    }
    .nav-container {
        padding: 15px 10px;
    }


    /*  Login Page styles*/
    .container {
        padding: 91px 20px 88px;
        min-height: 100vh;
    }

    .container-inner,
    .intro{
        padding: 0;
        width: 100%;
        min-height: 15px;
        background: transparent;
        overflow: visible;
    }

    .name-title,
    .welcome-msg {
        text-align: left;
    }

    .sign-in .title {
        font-size: 20px;
    }

    .sign-in .title,
    .sign-in .details,
    .session-title {
        text-align: left;
    }
    
    .container.login-box{
        padding-bottom: 30px;
    }
    
    .sign-in .details {
        margin: 0px;
    }
    .form-field,
    .task-list {
        margin: 15px 0px;
        border-bottom: 1px solid #777;
        border-radius: 0;
        padding: 5px 0;
    }

    .form-field,
    .form-field input,
    .task-list {
        background: transparent;
    }

    .pop-up {
        width: 100%;
        max-width: calc(100% - 40px);
    }


    /* Welcome page css here */
    .name-title {
        font-size: 24px ;
    }
    .welcome-msg {
        font-size: 16px;
        margin-bottom: 30px;
    }

    /* Home page css here */
    .home-container {
        display: inherit;
        padding: 30px 35px;
    }
    .session-title {
        font-size: 20px;
    }
    .task-list p {
        font-size: 16px;
    }
    .radio-text p {
        font-size: 14px;
    }


    /* feel page css here */
    .feel-container {
        min-height: 350px;
        display: inherit;
    }
    .radio-items div {
        width: 20px;
        height: 20px;
    }

    /* survey page css here */
    .survey-container {
        display: inherit;
        padding: 30px 35px;
    }
    .survey-title {
        font-size: 20px;
    }
    .survey-group p {
        font-size: 14px;
    }
    .survey-group select {
        font-size: 14px;
    }
    .age {
        margin-bottom: 10px;
    }

    /* library page css here*/
    .library {
        position: relative;
        top: 150px;
        left: 0;
        transform: none;
        margin: auto;
        width: 90%;
        min-height: auto;
    }
    .tabs .nav-item {
        font-size: 20px;
    }
    li.sc-dlnjPT.bqnhDN.nav-item.active {
       font-size: 20px;
    }
    .favorites-info h2 {
        font-size: 16px;
    }
    .details-top .section-title h2 {
        font-size: 20px;
        text-align: left;
    }
    .details-items {
        min-height: auto;
        border-bottom: 0;
    }
    .details-items .row {
        width: 100%;
    }

    .details-items .row > div{
        border-bottom: 1px solid #b9b9bb6b;
        padding-bottom: 10px;
    }

    .img-box img{
        width: 40px;
        height: auto;
    }
    .details-items .img-box p {
        font-size: 14px;
    }
    .details-items h4 {
        font-size: 16px;
    }
    .details-top {
        min-height: 75px;
        margin-top: 0;
    }

    /* .details-action{
        margin-top: 20px;
    } */

    .details-action button{
        background: transparent !important;
        justify-content: left;
        flex-basis: 100%;
    }

    .details-action img,
    .details-action .btn svg {
        width: 30px;
        position: relative;
        left: auto;
        top: auto;
        margin-right: 15px;
        font-size: 23px;
    }

    /* setting page css here */

    .setting {
        position: relative;
        top: 100px;
        left: 0;
        transform: none;
        margin: auto;
        width: 90%;
        min-height: auto;
    }
    .setting-container {
        padding: 0px;
    }
    .community {
        margin-top: 50px;
    }

    .tutorial-wrap {
        position: relative;
        width: 100%;
        height: 85%;
        border-radius: 10px;
        padding-bottom: 100%;
    }

    .controlWrap{
        padding: 30px 20px;
    }
    .controlWrap .feel-control{
        padding: 0;
    }
    .feel-control .session-title{
        text-align: center;
    }

    .feedbackInner{
        padding-bottom: 0;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .setting-container,
    .library-content {
        background: transparent;
    }

    .library-content{
        min-height: 300px;
    }

    .col-2,
    .library-content,
    .details-items .row{
        padding: 0;
    }

    .help-links .col-2{
        width: 50%;
        flex-basis: 50%;
        text-align: left !important;
    }

    .details-items .col-4{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
    }

    .details-items .img-box{
        margin-bottom: 0;
    }

    .back-section{
        position: relative;
        margin-bottom: 25px;
    }

    .tutorial-top .back-section{
        position: absolute;
        margin-bottom: 0;
    }

    .faborite-button {
        top: 35px;
    }

    .library-single .library-content{
        padding-bottom: 30px;
    }

    .social img{
        margin-right: 15px;
    }

    .modal-inner,
    .share-modal-inner{
        max-width: calc(100% - 40px);
        height: 200px;
        width: 390px;
    }

    .share-buttons-row button{
        margin: 0 10px;
    }

    .tutorial-top .section-title,
    .share-buttons-row button span{
        display: none
    }
    


}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .nav-section nav{
        position: fixed;
        left: 0;
        bottom: 0;
        margin: 0;
        width: 100%;
    }

    .nav-section nav ul{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 50px;
    }
    
}

@media only screen and (min-width: 992px) and (max-width: 1024px){
    .feedbackInner{
        padding-bottom: 30px;
    }
    .controlWrap{
        padding-top: 70px;
    }
}