@font-face {
    font-family: 'ProximaNova';
    src: url('../Fonts/ProximaNova/ProximaNova-Regular.eot');
    src: url('../Fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype'),
    url('../Fonts/ProximaNova/ProximaNova-Regular.eot') format('embedded-opentype'),
    url('../Fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
    url('../Fonts/ProximaNova/ProximaNova-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Reusable style */
/*

container background css {
background: rgba(0,0,0, 0.5);
    border-radius: 15px;
    padding: 25px;
    align-content: center;
    align-items: center;
    }
cointainer middle css {

    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

container width css {
    max-width: 850px;
    width: 95%;
}






*/




a:visited{
    color: #fff;
}
.btn {
    width: 100%;
    border-radius: 5px;
    height: 45px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}
.btn,
.btn:active,
.btn:focus{
    outline: none;
}
.btn svg,
.btn img{
    max-width: 25px;
    position: absolute;
    left: 15px;
}

.btn svg{
    font-size: 18px;
    font-weight: bold;
}

.btn-primary,
.btn.primary{
    background: #29aae3;
    color: #fff;
}

.btn.primary-outline{
    color: #29aae3;
    background: transparent;
    border: 2px solid currentColor;
}

.btn.danger{
    background: #e02020;
    color: #fff;
}

.btn-secondary{
    background: transparent;
    border: 1px solid #29aae3;
    color: #29aae3;
    font-weight: 600;
}
/* styles for login and signup page */
.row {
    padding: 25px 0px;
}
.container {
    height: auto;
    position: absolute;
    top: calc(50% + 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 135px auto 0; */
    background: rgba(0,0,0, 0.5);
    border-radius: 15px;
    padding: 25px;
    align-content: center;
    align-items: center;
}
.container {
    max-width: 440px;
    width: 90%;
}
.home-container, .survey-container  {
    max-width: 670px;
    padding: 0px 110px;
    min-height: 520px;
    display: inline-grid;
    margin: 0 auto;
    align-items: center;
}

.welcome-container, .feel-container {
    display: inline-grid;
    margin: 0 auto;
    align-items: center;
    max-width: 670px;
    padding: 0px 115px;
    min-height: 520px;
}
.login-box {
    max-width: 560px;
    padding: 42px 57px 25px;
}

.sign-in .title {
    font-weight: 600;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.sign-up .details {
    font-size: 16px;
    color: #e9e9e9;
    margin-top: 15px;
    margin-bottom: 45px;
    text-align: center;
}
.sign-in .text-divider {
    margin-bottom: 25px;
}
.sign-in .details {
    font-size: 16px;
    color: #e9e9e9;
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: center;
}

.message{
    margin-top: 10px;
    font-size: 14px;
}

.waring{
    color: tomato;
}

.form-field {
    margin: 20px 0px;
    display: flex;
    width: 100%;
    background: #262b31;
    overflow: hidden;
    height: 45px;
    padding: 5px 20px;
    align-items: center;
    border-radius: 5px;
}
input {
    width: 95%;
    background: #262b31;
    border: none;
    margin-left: 10px;
    color: #fff;
}
input:focus {
    outline: none;
}
.forget {
    text-align: right;
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}
.task-list {
    justify-content: space-between;
    border-radius: 5px;
    margin: 20px 0px;
    display: flex;
    width: 100%;
    background: #262b31;
    overflow: hidden;
    height: 45px;
    padding: 5px 30px;
    align-items: center;
}
.task-list p{
    color: #fff;
    font-size: 18px;
}

.social-login {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.col-3 {
    flex-basis: 30%;
}
.col-3 img {
    width: 100%;
    cursor: pointer;
}
.signup-text {
    font-size: 16px;
    margin-top: 30px;
    color: #fff;
    text-align: center;
}
.text-primary {
    color: #29aae3;
    font-weight: 500;
    cursor: pointer;
}
.text-divider {
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #ffffff;
}

.text-divider::before,
.text-divider::after {
    content: '';
    height: 1px;
    background-color: #262b31;
    flex-grow: 1;
}
.text-divider::before {
    margin-right: 15px;
}

.text-divider::after {
    margin-left: 15px;
}
.form-icon {
    min-width: 20px;
    margin-right: 10px;
}

/* Welcome page style */
.name-title {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}
.welcome-msg{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 50px;
    text-align: center;
}
.intro {
    margin: 25px auto;
}

/* Home page styles */
.session-title {
    font-size: 31px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
}
.welcome .btn {
    margin-top: 10px;
}
.task {
    font-weight: normal;
}
.task-des {
    font-weight: 600;
}

/* Feel Control Css*/
.radio-item-group {
    background: #141b24;
    margin: 15px auto;
    border-radius: 5px;
    padding: 35px 50px 25px 50px;
}
.radio-item {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    margin: 10px auto;
}
.item {
    position: relative;
    width: 25px;
    height: 25px;
}
.radio-item div{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
}
.radio-item input {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    -webkit-appearance: none;
    background: transparent;
    border: transparent;
}

.radio-text {
    padding: 0px;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.radio-text p{
    font-size: 20px;
    color: #ffffff;
}
.fa-circle {
    font-size: 24px !important;
    color: #ffffff;
    cursor: pointer;
}
.radio-item .active, .fa-circle:hover {
    color: #29aae3;
}


/*  Top navigation CSS        */
.nagivation {
/*  background: #141c287a; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.nav-container {
    max-width: 95%;
    width: 100%;
    padding: 15px 0px;
    margin: auto;

}


/* Survey Page Stylesheet*/
.survey-title {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
}
.survey-group {
    margin: 35px auto;
}
.survey-group p{
    font-size: 16px;
    color: #fff;
}
.survey-page .btn{
    margin-top: 5px;
}
.survey-group select {
    margin: 10px 0px;
    display: flex;
    width: 100%;
    font-size: 17px;
    background: #262b31;
    overflow: hidden;
    height: 40px;
    padding: 5px 20px;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}
.survey-group select:focus{
    outline: none;
}
.age {
    display: block;
    margin-bottom: 30px;
}

/*************** Library page styles*********************/
.library {
    max-width: 920px;
    width: 95%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.library-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
}
.tabs .jLtfL {
    border-bottom: none !important;
    -webkit-appearance: none;
    display: flex;
}
.tabs h2{
    color: #999ea5;
    font-weight: 500;
    margin-right: 50px;
    font-size: 18px;
    padding: 0 14px 15px;
}
.tabs ul{
    padding: 0 2px 15px;
}
.tabs .nav-item{
    color: #999ea5;
    font-weight: 400;
    margin-right: 86px;
    font-size: 26px;
}
li.nav-item .active{
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 700;
}
.library-content {
    width: 100%;
    min-height: 600px;
    background: rgba(0,0,0, 0.5);
    border-radius: 15px;
    padding: 0px 30px 30px 30px;
    align-content: center;
    align-items: center;
}
.library .no-space{
    padding: 0px;
}


/*******************favorites page style **********************/
.favorites-list {
    border-bottom: 1px solid #b9b9bbd4;
    padding: 15px 0px 15px 12px;
    display: flex;
    flex-wrap: wrap;
    min-height: 90px;
    justify-content: space-between;
    align-items: center;
}

.favorites-info h2{
    font-size: 17px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.favorites-info p{
    font-size: 14px;
    color: #b9b9ba;
    font-weight: 500;
}
.favorites-arrow img {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

/************************* Favorites details page ******************/
.details-top {
    margin-top: -25px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    align-items: center;
    border-bottom: 1px solid #b9b9bb6b;
}
.fav-details {
    min-height: 520px;
}
.details-top .back-section img{
    margin-left: 0px;
}
.details-top .section-title h2 {
    font-size: 30px;
    font-weight: 500;
}
.details-items {
    border-bottom: 1px solid #b9b9bb6b;
    min-height: 220px;
}
.details-items .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 30px 20px;
}
.details-items .col-4 {
    text-align: center;
}
.details-items .img-box {
    margin-bottom: 35px;
}
.details-items .img-box p {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
}
.details-items h4 {
    font-size: 19px;
    color: #fff;
    font-weight: 500;
}

.details-action .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0px;
}
.details-action .col-3 {
    flex-basis: 30%;
}
.details-action img {
    width: 18px;
    margin-top: 2px;
}
/* setting page styles*/

.setting .section-title {
    color: #fff;
    text-align: left;
    font-weight: 600;
    margin-bottom: 20px;
}
.setting .form-field {
    margin-bottom: 20px;
    margin-top: 0px;
}
.setting p {
    color: #b9b9bb;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}
.setting {
    max-width: 920px;
    width: 95%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.setting-container{
    background: rgba(0,0,0, 0.5);
    border-radius: 15px;
    padding: 25px;
    align-content: center;
    align-items: center;
}
.setting .row {
    display: flex;
    flex-wrap: wrap;
}
.col-2{
    flex-basis: 50%;
    padding: 0px 35px;
    border-right-color: #fff;

}
.right-border {
    border-right: 1px solid #b9b9bbab;
}
.setting .title {
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 30px;
}
.social {
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    margin: 10px auto;
}
.social p{
    color: #fff;
    cursor: pointer;
}
.social img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.mydata {
    margin-top: 30px;
}
.mydata .title {
    font-weight: 600;
}
.mydata-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}
.mydata img{
    width: 48%;
}
.terms, .support {
    color: #fff !important;
}
.terms {
    text-align: right;
}

/* Tutorial Page Styles here */
.tutorial {
    max-width: 750px;
    width: 95%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tutorial-top{
    display: flex;
    flex-wrap: wrap;
    background: #010914;
    height: 75px;
    align-items: center;
}
.back-section {
    position: absolute;
}
.back-section img{
    margin-left: 25px;
}
.section-title {
    width: 100%;
    text-align: center;
    align-items: center;
}
.section-title h2{
    text-align: center;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}
.section-title p {
    text-align: center;
    font-size: 17px;
    color: #29aae3;
    margin-top: 5px;
}


/*********************** Top navigation Two styels*************************/

.nagivationTwo li a.active p {
    color: #29aae3;
}
.nagivationTwo li a.active {
    border-bottom: 3px solid #29aae3;
}
.nagivationTwo {
    background: #000103;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 14px 0 2px;
}
.nav-containerTwo {
    max-width: 1570px;
    width: 100%;
    padding: 0px 0px;
    margin: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
}

nav {
    margin-left: 42px;
    display: flex;
    align-items: center;
    margin-right: auto;
}
nav ul {
    display: flex;
}
nav ul li a{
    display: flex;
    align-items: center;
    margin: 0 31px;
    height: 70px;
    border-bottom: 3px solid transparent;
}
nav ul li svg {
    width: 23px;
    height: 23px;
    margin-right: 10px;
}
nav ul li svg g{
    fill: #737374;
    -webkit-text-stroke-color: #737374;
    stroke: #737374;
}
nav ul li a.active svg g{
    fill: #29aae3;
    -webkit-text-stroke-color: #29aae3;
    stroke: #29aae3;
}

nav ul li p {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.user-section {
    float: right;
    text-align: right;
    display: flex;
    align-items: center;
}
.notification{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 25px;
}
.downArrow{
    width: 7px;
    height: 12px;
    margin-left: 15px;
    cursor: pointer;
}
.userPlaceholder{
    cursor: pointer;
    width: 40px;
height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.user p{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul.userDropdown {
    position: absolute;
    right: 2.5%;
    top: 70px;
    background-color: #000;
    padding: 20px;
    width: 195px;
    text-align: right;
    border-radius: 0 0 10px 10px;
    z-index: 5;
    transition: all .3s ease-in;
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
}

ul.userDropdown.expanded{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

ul.userDropdown li{
    margin-top: 10px;
    font-size: 15px;
}

ul.userDropdown li button{
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}

ul.userDropdown li button:focus{
    outline: none;
}

ul.userDropdown li,
ul.userDropdown li a,
ul.userDropdown li button{
    color: #fff;
}

ul.userDropdown li:first-child{
    margin-top: 0;
}

/******** ********/
.text-divider{
    margin: 25px auto;
}
a:visited, .sc-dlnjPT.bqnhDN.nav-item a {
    color: #999ea5;
}
.sc-dlnjPT.cuIYFB.nav-item.active {
    color: #fff !important;
}
.gmjWml {
    border-bottom: none !important;
    padding: 0px;
}
.menu-section {
    display: none;
}