* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: ProximaNova ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(Assets/Image/backgroung.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100% !important;
  height: 100%;
}
html {
  height: 100%;
}



/* code {
  font-family: Glyphicons-;
} */

